{{#link-to "editor.new" classNames="gh-nav-main-editor"}}{{inline-svg "pen"}}创建新文{{/link-to}}
{{#if (eq router.currentRouteName "posts.index")}}
    {{#link-to "posts" (query-params type=null) classNames="gh-nav-main-content active"}}{{inline-svg "content"}}文章列表{{/link-to}}
{{else}}
    {{#link-to "posts" classNames="gh-nav-main-content"}}{{inline-svg "content"}}正文{{/link-to}}
{{/if}}
{{#link-to "team" classNames="gh-nav-main-users"}}{{inline-svg "account-group"}}团队{{/link-to}}
<div class="gh-mobile-nav-bar-more" {{action "openMobileMenu" target=ui}}>{{inline-svg "icon" class="icon-gh"}}更多</div>
{{yield}}
