<h3 class="gh-content-entry-title">{{#link-to "editor.edit" post.id class="permalink" title="Edit this post"}}{{post.title}}{{/link-to}}</h3>
<p>{{subText}}</p>

<section class="gh-content-entry-meta">
    {{#if isPublished}}
        {{#if post.page}}
            <span class="gh-content-status-draft gh-badge gh-badge-black">页面</span>
        {{else}}
            <span class="gh-content-status-published">已发布</span>
        {{/if}}
    {{else if isScheduled}}
        <span class="gh-content-status-draft gh-badge">已规划</span>
    {{else}}
        <span class="gh-content-status-draft gh-badge gh-badge-red">草稿</span>
    {{/if}}

    被 <span class="gh-content-entry-author">{{authorName}}</span> &mdash;

    {{#if isPublished}}
        {{gh-format-post-time post.publishedAtUTC published=true}}
    {{else if isScheduled}}
        <span class="green">将于 {{gh-format-post-time post.publishedAtUTC scheduled=true}}发布</span>
    {{else}}
        上次编辑于 {{gh-format-post-time post.updatedAtUTC draft=true}}
    {{/if}}
    {{#each post.tags as |tag|}}
      {{!-- see the router.js to get proper name --}}
      {{#link-to "posts" (query-params tag=tag.slug) title="filter this tag" class="gh-badge"}} {{tag.name}} {{/link-to}}
    {{/each}}
</section>
